In [1]:
import pandas_geojson as gjs
import pandas as pd

In [4]:
zengezur_geo=gjs.read_geojson('kalbajar_lachin.geojson')

In [3]:
!ls zengezur/

powerDensity.csv       windPowerRose.csv      windSpeedRose.csv
powerDensity.json      windPowerRose.json     windSpeedRose.json
windFrequencyRose.csv  windSpeed.csv
windFrequencyRose.json windSpeed.json

In [11]:
powerDensity=pd.read_csv('zengezur/powerDensity.csv')
windfreq=pd.read_csv('zengezur/windFrequencyRose.csv')
windPower=pd.read_csv('zengezur/windPowerRose.csv')
windSpeed=pd.read_csv('zengezur/windSpeed.csv')
windSpeedRose=pd.read_csv('zengezur/windSpeedRose.csv')

In [17]:
windSpeedRose

    value  sector  center_degrees
0    0.03       1              30
1    0.04       2              60
2    0.06       3              90
3    0.08       4             120
4    0.08       5             150
5    0.08       6             180
6    0.07       7             210
7    0.10       8             240
8    0.18       9             270
9    0.15      10             300
10   0.07      11             330
11   0.04      12             360

In [16]:
windSpeed

     val    perc  sel_perc
0   9.12    2.01         2
1   8.74    4.00         4
2   8.50    6.00         6
3   8.33    7.99         8
4   8.18   10.00        10
5   8.04   12.01        12
6   7.90   14.00        14
7   7.75   16.00        16
8   7.61   17.99        18
9   7.45   20.00        20
10  7.29   22.01        22
11  7.13   24.00        24
12  6.96   26.00        26
13  6.80   27.99        28
14  6.64   30.00        30
15  6.49   32.01        32
16  6.35   34.00        34
17  6.21   36.00        36
18  6.09   37.99        38
19  5.97   40.00        40
20  5.85   42.01        42
21  5.75   44.00        44
22  5.65   46.00        46
23  5.55   47.99        48
24  5.46   50.00        50
25  5.37   52.01        52
26  5.29   54.00        54
27  5.20   56.00        56
28  5.13   57.99        58
29  5.05   60.00        60
30  4.98   62.01        62
31  4.92   64.00        64
32  4.85   66.00        66
33  4.79   67.99        68
34  4.73   70.00        70
35  4.67   72.01        72
36  4.61   74.00        74
37  4.56   76.00        76
38  4.51   77.99        78
39  4.46   80.00        80
40  4.41   82.01        82
41  4.36   84.00        84
42  4.31   86.00        86
43  4.27   87.99        88
44  4.22   90.00        90
45  4.17   92.01        92
46  4.13   94.00        94
47  4.09   96.00        96
48  4.04   97.99        98
49  4.00  100.00       100

In [15]:
windPower

    value  sector  center_degrees
0    0.01       1              30
1    0.01       2              60
2    0.02       3              90
3    0.02       4             120
4    0.03       5             150
5    0.02       6             180
6    0.04       7             210
7    0.14       8             240
8    0.36       9             270
9    0.26      10             300
10   0.07      11             330
11   0.02      12             360

In [14]:
windfreq

    value  sector  center_degrees
0    0.06       1              30
1    0.06       2              60
2    0.08       3              90
3    0.10       4             120
4    0.11       5             150
5    0.10       6             180
6    0.08       7             210
7    0.08       8             240
8    0.10       9             270
9    0.09      10             300
10   0.07      11             330
11   0.07      12             360

In [12]:
powerDensity

        val    perc  sel_perc
0   1074.50    2.01         2
1    947.76    4.00         4
2    863.63    6.00         6
3    807.77    7.99         8
4    764.46   10.00        10
5    728.36   12.01        12
6    697.68   14.00        14
7    670.16   16.00        16
8    645.12   17.99        18
9    621.64   20.00        20
10   599.25   22.01        22
11   577.67   24.00        24
12   556.73   26.00        26
13   536.90   27.99        28
14   517.86   30.00        30
15   499.82   32.01        32
16   482.80   34.00        34
17   466.61   36.00        36
18   451.31   37.99        38
19   436.57   40.00        40
20   422.52   42.01        42
21   409.21   44.00        44
22   396.50   46.00        46
23   384.58   47.99        48
24   373.21   50.00        50
25   362.47   52.01        52
26   352.36   54.00        54
27   342.69   56.00        56
28   333.60   57.99        58
29   324.89   60.00        60
30   316.59   62.01        62
31   308.73   64.00        64
32   301.18   66.00        66
33   294.05   67.99        68
34   287.19   70.00        70
35   280.64   72.01        72
36   274.41   74.00        74
37   268.40   76.00        76
38   262.67   77.99        78
39   257.13   80.00        80
40   251.79   82.01        82
41   246.70   84.00        84
42   241.77   86.00        86
43   237.06   87.99        88
44   232.47   90.00        90
45   228.05   92.01        92
46   223.80   94.00        94
47   219.64   96.00        96
48   215.62   97.99        98
49   211.67  100.00       100